rtw-esb-common-sys-api-impl-1.0.0-snapshot-mule-application/src/main/mule/router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
	http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
    http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!--<api-gateway:autodiscovery apiId="${api.id}" flowRef="api-main" doc:name="API Autodiscovery" />-->

	<apikit:config name="api-config" raml="api\rtw-esb-ipcatalog-feed-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" api="api\rtw-esb-common-sys-api.raml"/>

	<flow name="api-main">
        
		<http:listener doc:name="Listener" doc:id="a944f6b5-fd01-4e23-8236-82df3651306a" config-ref="httpListenerConfig" path="/${api.base}/${api.semantic.version}/*"/>
		<set-variable value="#['api-main']" doc:name="Set mainFlowDesc" doc:id="eb6117cc-74af-422e-97ef-f0b7ad9f860e" variableName="mainFlowDesc"/>

		<apikit:router doc:name="APIkit Router" config-ref="api-config"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="162ca34b-c6e0-4d15-b000-726533d81867" >
			</on-error-propagate>
		</error-handler>
	
</flow>


</mule>
